/* You can add global styles to this file, and also import other style files */

@import "~leaflet/dist/leaflet.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";
.leaflet-bar {
    font-size: 18px!important;
    width: 300px!important;
    padding: 8px!important;
    border-radius: 0px!important;
    border: 1px solid orange!important;
}

.leaflet-control-geocoder-selected {
    background-color: orange!important;
}

.leaflet-control-geocoder-alternatives {
    width: 100%;
}

.leaflet-marker-shadow{
    background: transparent;
    display: none!important;
}

.move {
    background-image: url("./assets/img/move.svg");
}

.zoom {
    background-image: url("./assets/img/zoom.svg");
}